IndentWidth: 4
TabWidth: 4
UseTab: Never
Language: Cpp
BasedOnStyle: Microsoft
Standard: c++17
AlignAfterOpenBracket: Align
AlignConsecutiveMacros: AcrossEmptyLinesAndComments
AlignEscapedNewlinesLeft: true
AllowShortFunctionsOnASingleLine: false
BinPackArguments: false
BinPackParameters: false
ColumnLimit: 160
IndentCaseLabels: false
IndentCaseBlocks: true
PointerAlignment: Left
SortIncludes: false
SpaceAfterCStyleCast: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpacesInCStyleCastParentheses: false
SpacesInParentheses: false
FixNamespaceComments: true
NamespaceIndentation: All
BreakBeforeBraces: Allman
IndentPPDirectives: AfterHash
# AlignArrayOfStructures: Right // clang-format-13
BreakConstructorInitializers: BeforeComma
ConstructorInitializerAllOnOneLineOrOnePerLine: false
IncludeBlocks: Preserve
IndentExternBlock: Indent
