IndentWidth: 4
TabWidth: 4
UseTab: Never
Language: Cpp
BasedOnStyle: Microsoft
Standard: c++17
AlignAfterOpenBracket: Align
AlignConsecutiveMacros: AcrossEmptyLinesAndComments
AlignEscapedNewlinesLeft: true
AllowShortFunctionsOnASingleLine: false
BinPackArguments: false
BinPackParameters: false
ColumnLimit: 160
IndentCaseLabels: false
IndentCaseBlocks: true
PointerAlignment: Left
SortIncludes: false
SpaceAfterCStyleCast: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpacesInCStyleCastParentheses: false
SpacesInParentheses: false
FixNamespaceComments: true
NamespaceIndentation: All
BreakBeforeBraces: Allman
IndentPPDirectives: AfterHash
# AlignArrayOfStructures: Right // clang-format-13
BreakConstructorInitializers: BeforeComma
ConstructorInitializerAllOnOneLineOrOnePerLine: false
IncludeBlocks: Preserve
IndentExternBlock: Indent
AttributeMacros: ['_Success_', '_Field_range_', '_Field_z_', '_In_', '_In_z_', '_In_reads_bytes_', '_In_opt_', '_Inout_', '_Inout_', '_Inout_opt_', '_Out_', '_Out_writes_bytes_', '_Out_opt_', '_Out_writes_bytes_opt_', '_Reserved_', '_Must_inspect_result_', '_Ret_maybenull_', '_Ret_writes_bytes_maybenull_', '_Post_writable_byte_size_', '_Post_invalid_', '_When_', '_Out_range_', '_Frees_ptr_opt_', '_Frees_ptr_', '_Inout_updates_opt_', '_Inout_updates_']
BreakAfterAttributes: Leave
