# The linker: `link.exe`

## Command Line Switches for `link.exe`

NB: the following list has not yet been checked and mostly contains findings from looking at `link.exe` in raw form. Some of the arguments to individual command line switches certainly require more research and confirmation.

Also note: not all findings will apply to older or newer versions of the toolchain.

The undocumented or barely mentioned switches are in bold, [the documented ones][1] are not.

| Command line switch                        | Purpose                                            |
|--------------------------------------------|----------------------------------------------------|
{%- for switch in link.cmdline %}
| {{switch|switchmdfmt}} | {{switch.purpose|description}} |
{%- endfor -%}

## Environment variables for `link.exe`

| Environment variable               | Description                                        |
|------------------------------------|----------------------------------------------------|
| `_CVTCIL_`                         |                                                    |
| `_LIB_`                            |                                                    |
| `_LINK_`                           | used after the command line (and `LINK`)           |
| `_PRELIB_`                         |                                                    |
| `_PUSHTHUNKOBJ_`                   |                                                    |
| `EnterpriseWDK`                    |                                                    |
| `LOG_BUILD_COMMANDLINES`           | file name to log command lines into                |
| `LINK`                             | used before command line                           |
| `LINK_DB`                          | .ilk file name?                                    |
| `LINK_REPRO`                       | directory for link repro? can be used instead of `/linkrepro`|
| `LINK_REPRO_NAME`                  |                                                    |
| `SPGO_SPD_IDSTR`                   |                                                    |
| `MSVCETW_PARENT_CONTEXT_THREAD_ID` |                                                    |
| `PRINT_HRESULT_ON_FAIL`            | `1` (or even non-empty?)                           |
| `VSLANG`                           | the LANGID (e.g. 1033/0x409 for US-English)        |
| `VS_UNICODE_OUTPUT`                | some "port" (pipe?), used by Visual Studio IDE, used to detect running in the IDE|
| `VSTEL_SolutionSessionID`          | some GUID; adhoc generated?                        |
| `VSTEL_CurrentSolutionBuildID`     | an (unsigned?) integer (PID/TID?)                  |
| `VSTEL_ProjectID`                  | a GUID; does it correspond to project GUID?        |

Used (and populated) internally for `/pdbaltpath`:

* `_EXT`
* `_PDB`

## Glossary (guessed)

* POGO: Profile Guided Optimization
* wrbrd, "warbird" ... some sort of (prototypical?) technology

## Subjects of the study

These are subject to change, eventually.

{%- for binary in link.binaries %}
- `{{binary.name}}` ({{binary.toolchain}})
  - SHA256: `{{binary.hash}}`
  - Host/Target: `{{binary.host}}` / `{{binary.target}}`
  - Version:
    - File: {{binary.version.file}}
    - Product: {{binary.version.product}}
{%- endfor %}


[1]: {{msdocs_entryurl}}
